*.pyc
.coverage*
.DS_Store
venv/
_build
build
tmp/
.project
.pydevproject
__pycache__
/girder_worker.egg-info/
/girder-worker-*.tar.gz
*.retry
/devops/ansible/examples/*/playbooks/*/roles
.vagrant
.tox
.cache
