prune analysis
prune examples
prune tests
include LICENSE
include setup.py
include requirements.in
include README.rst
include girder_worker/worker.dist.cfg
recursive-include girder_worker/format *
recursive-include girder_worker/plugins *
global-exclude *.pyc *.pyo *.cmake worker.local.cfg
prune girder_worker/plugins/*/tests
