girder>3,<5
girder-jobs>3,<5
pytest-girder>3,<5
coverage
coveralls
flake8
flake8-blind-except
flake8-docstrings
flake8-quotes
httmock
lxml
mock
pydocstyle
pytest
pytest-cov
Sphinx
sphinx-rtd-theme
tox
