celery==3.1.23
ete3==3.0.0b35
networkx==1.11
Pillow==3.2.0
pymongo==3.2.2
pytz==2016.4
requests[security]==2.10.0
six==1.10.0
wsgiref==0.1.2
docker==2.0.2

# dependencies of celery
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
kombu==3.0.34
