-e git+https://github.com/girder/girder.git@v4-integration#egg=girder
-e git+https://github.com/girder/girder.git@v4-integration#egg=girder-jobs&subdirectory=plugins/jobs
-e git+https://github.com/girder/girder.git@v4-integration#egg=pytest-girder&subdirectory=pytest_girder
coverage
coveralls
flake8
flake8-blind-except
flake8-docstrings
flake8-quotes
httmock
lxml
mock
pydocstyle
pytest
pytest-cov
Sphinx
sphinx-rtd-theme
tox
