[celery]
app_main=girder_worker
broker=amqp://guest@localhost/

[girder_worker]
# whether to include core tasks like girder_worker.run
core_tasks=true
# root dir where temp files for jobs will be written
tmp_root=tmp
# comma-separated list of plugins to enable
plugins_enabled=
# colon-separated list of additional plugin loading paths
plugin_load_path=

[girder_io]
# enable or disable diskcache for files downloaded with the girder client
diskcache_enabled=0
# directory to use for the diskcache
diskcache_directory=girder_file_cache
# eviction policy used when diskcache size limit is reached
diskcache_eviction_policy=least-recently-used
# maximum size of the disk cache, 1GB default
diskcache_size_limit=1073741824
# maximum number of items to cull when evicting items
diskcache_cull_limit=10
# cached values below this size are stored directly in the cache's sqlite db
diskcache_large_value_threshold=1024
# Set to True to allow the worker to try to use girder files directly instead
# of only via downloading them
allow_direct_path=False

[logging]
level=warning
format=[%%(asctime)s] %%(levelname)s: %%(message)s
