.g-config-breadcrumb-container

p.
  Configure how Girder should connect to the celery client.

form#g-romanesco-settings-form(role="form")
  .form-group
    label.control-label(for="g-romanesco-broker") Celery broker URL
    input.input-sm.form-control#g-romanesco-broker(
      type="text", placeholder="Broker (default: mongodb://localhost/romanesco)")
  .form-group
    label.control-label(for="g-romanesco-backend") Celery backend URL
    input.input-sm.form-control#g-romanesco-backend(
      type="text", placeholder="Backend (default: mongodb://localhost/romanesco)")
  .form-group
    label.control-label(for="g-romanesco-full-access-users") Full access users (JSON list of login names)
    input.input-sm.form-control#g-romanesco-full-access-users(
      type="text", placeholder="Full access users")
  .form-group
    label.control-label(for="g-romanesco-safe-folders") Safe folders (JSON list of folder IDs)
    input.input-sm.form-control#g-romanesco-safe-folders(
      type="text", placeholder="Safe folders")
  .form-group
    .checkbox
      label
        input#g-romanesco-require-auth(type="checkbox")
        |  Require authorization to run tasks
  p#g-romanesco-settings-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
